IEDDIT = {
    "USERNAME": "",
    "PASSWORD": ""
}

REDDIT = {
    "USERNAME": "",
    "PASSWORD": "",
    "CLIENT_ID": "",
    "CLIENT_SECRET": "",
    "USER_AGENT": ""
}

SUB_MAP = { }

_2CAPTCHA_API_KEY = ""